
body {
    background-color: rgb(107, 195, 145);
  }
  
  h1 {
    color: rgb(5, 5, 5);
    margin-top: 20px;

    }
    
    ul {
      text-align:center; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(22, 139, 44);
 
}
li {
  display: inline-block;
  text-align: center;
}


li a {
  display: block;
  color: rgb(7, 7, 7);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: rgb(20, 116, 37);
}



























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































